    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sumbitted Survey</title>
    </head>
    <body>
        <h1>Sumbitted Info</h1>
        <p>Name:{{request.session.name}}</p>
        <p>Dojo Location:{{request.session.location}}</p>
        <p>Favorite Language:{{request.session.language}}</p>

        <button class="btn btn-bigger col-sn-4 mt-4">Go Back</button>
    </body>
    </html>